<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">toPEleaGue</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if logged_in? %>
        <li class="nav-item active">
          <%= link_to 'HOME', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PREMIER LEAGUE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERIA A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LA LIGA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BUNDESLIGA</a>
        </li>
        <li class="nav-item">
          <%= link_to 'CREATE ARTICLE', new_article_path, class: 'nav-link' %>
        </li>
        <% if logged_in? && current_user.admin? %>
          <li class="nav-item">
            <%= link_to 'CREATE NEW CATEGORY', new_category_path, class: 'nav-link' %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <ul class="navbar-nav ml-auto">
      <% if logged_in? %>
        <li class="nav-item user-name">
          <%= link_to 'LOGOUT', logout_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item user-name">
          <%= link_to 'REGISTER', signup_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'LOGIN', login_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
